html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;

  padding-top: 64px;

  color: white;
  background: linear-gradient(to bottom, #ffa248, #f36c68);
}

a {
  color: white;
  color: rgba(255,255,255,0.8);
}

code {
  font-size: 0.8em;

  color: white;
  color: rgba(255,255,255,0.8);

  display: block;
}

footer {
  font-size: 0.7em;
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

p {
  font-size: 1.2em;

  text-align: left;

  color: rgba(255,255,255,.6);
}

p code {
  display: inline-block;

  padding: 0 4px;

  border-radius: 2px;
  background-color: rgba(255,255,255,.2);
}

h2 {
  font-family: sans-serif;
  font-size: 1.25em;

  position: relative;

  margin: 0;

  text-align: left;
}

h3 {
  font-size: 1em;

  text-align: left;
}

header {
  margin: 0 0 25px;
  padding: 0 0 10px;

  text-align: center;

  color: rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.2);
}

header p {
  text-align: center;
}

section {
  padding-bottom: 40px;
}

.toggle {
  position: fixed;
  z-index: 101;
  top: 10px;
  right: 10px;

  box-sizing: border-box;
  width: 44px;
  height: 44px;

  cursor: pointer;
}

.toggle::after,
.toggle::before {
  display: block;

  content: '';

  border-top: 4px solid white;
}

.toggle:after {
  height: 16px;
  margin: 16px 0 0;

  border-bottom: 4px solid white;
}

.toggle.active:after,
.toggle.active:before {
  border-color: #ffa248;
}

.logo {
  margin: 0;
}

.logo-large {
  font-size: 4.5em;
  line-height: .85em;

  display: block;

  letter-spacing: -.065em;
  text-transform: uppercase;

  color: rgba(255,255,255,1.0);
  background-color: white;
  background: -webkit-linear-gradient(
  rgba(255,255,255,1.0) 35%,
  rgba(255,255,255,0)
  );
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 90%;
  margin: 0 auto 40px;
}

.usage {
  font-family: monospace;

  position: relative;

  display: block;

  margin: 10px auto 20px;
  padding: 0 15px;

  text-align: left;
  white-space: pre-wrap;

  background-color: rgba(255,255,255,.2);
}

.links {
  background-color: rgba(255,255,255,.95);
}

.links a,
.links a:hover,
.links a:active,
.links a:visited {
  font-size: 2em;
  font-weight: bold;

  text-decoration: none;

  color: #ffa248;
}

.links a:hover {
  color: #f36c68;
  background-color: white;
}

.copyright {
  float: right;
}

.default {
  line-height: 2.0em;
  font-size: 0.7em;
  display: block;
}

.default:before {
  content: 'Default: ';
}
